node_red_mqtt/dht11_val_node_red.json
[{"id":"35eacdf1.f1c782","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"738f4b6c.439ae4","type":"ui_gauge","z":"35eacdf1.f1c782","name":"Temperature","group":"57c685b6.c0b73c","order":3,"width":3,"height":3,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload[\"Temperature\"]}}","min":0,"max":"50","colors":["#93dcfb","#4be76a","#ff3d3d"],"seg1":"15","seg2":"25","x":930,"y":240,"wires":[]},{"id":"513f5681.a71b98","type":"ui_gauge","z":"35eacdf1.f1c782","name":"Humidity","group":"57c685b6.c0b73c","order":4,"width":3,"height":3,"gtype":"gage","title":"Humidity","label":"units","format":"{{msg.payload[\"Humidity\"]}}","min":0,"max":"100","colors":["#e6e600","#00b500","#ff3d3d"],"seg1":"40","seg2":"70","x":920,"y":300,"wires":[]},{"id":"3784b98e.05ae76","type":"ui_chart","z":"35eacdf1.f1c782","name":"","group":"57c685b6.c0b73c","order":6,"width":3,"height":3,"label":"Temperature","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":360,"wires":[[]]},{"id":"e519139e.47903","type":"mqtt in","z":"35eacdf1.f1c782","name":"","topic":"tem_humid_from_dht11_psw","qos":"2","datatype":"auto","broker":"9193ce28.4f7ac","x":160,"y":300,"wires":[["832cd907.137ed8","a2beeaea.612f18"]]},{"id":"cb87fea.7f094","type":"ui_text","z":"35eacdf1.f1c782","group":"57c685b6.c0b73c","order":1,"width":6,"height":1,"name":"Tip","label":"Life tip","format":"{{msg.payload[\"Tip\"]}}","layout":"col-center","x":910,"y":180,"wires":[]},{"id":"832cd907.137ed8","type":"debug","z":"35eacdf1.f1c782","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":120,"wires":[]},{"id":"a2beeaea.612f18","type":"json","z":"35eacdf1.f1c782","name":"","property":"payload","action":"","pretty":false,"x":470,"y":300,"wires":[["cb87fea.7f094","738f4b6c.439ae4","513f5681.a71b98","87519157.5ce44","df11723b.94999"]]},{"id":"87519157.5ce44","type":"function","z":"35eacdf1.f1c782","name":"temperature_parsing","func":"var tem = msg.payload[\"Temperature\"];\nnode.send({payload:tem});\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":360,"wires":[["3784b98e.05ae76"]]},{"id":"df11723b.94999","type":"function","z":"35eacdf1.f1c782","name":"humidity_parsing","func":"var humid = msg.payload[\"Humidity\"];\nnode.send({payload:humid});\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":420,"wires":[["f001b7a.110c448"]]},{"id":"f001b7a.110c448","type":"ui_chart","z":"35eacdf1.f1c782","name":"Humidity","group":"57c685b6.c0b73c","order":7,"width":3,"height":3,"label":"Humidity","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":420,"wires":[[]]},{"id":"57c685b6.c0b73c","type":"ui_group","z":"","name":"Group 1","tab":"75496dc8.fcb1c4","order":1,"disp":true,"width":6,"collapse":false},{"id":"9193ce28.4f7ac","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"pswarkeungo","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"75496dc8.fcb1c4","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false}]